body {
    background-color: black;
    color: white;
    font-family: Manrope;


}
/*
ul, li{
    display: flex;
    align-items: center;
    background-color: none;
    width: 900px;
   
}*/

main{
    
    text-align: center;
}

 