#body{ 
    text-align: center;
    color: black;
    background-color: #f0f2f5;
}
#divfacebook{
    margin-top: 20 px;
    margin-bottom:  10 px;
    color: #a2a6ac;
}
#bottonentrar{
    background-color:#1877f2;
    color: white;
    
}
button {
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
    
}
#bottonlimpar{
    background-color:#919499;
    color: white;
    
}
a {
    text-decoration: none;
    color: #1877f2;
}
#text-h4{ 
    font-size: 26px;
    font-style: unset;
    color:brown; 
    background-color: aquamarine;
}